body{
  
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
  margin: 0;
    background-color:#fff9f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main.content {
  flex: 1 0 auto;
  padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    
}
header{
    
    padding: 20px 0;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


header img{
    padding-right: 40px;
    max-width: 100px; /* Ajusta este valor según el tamaño que desees */
    height: auto; /* Mantiene la proporción de la imagen */
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre los elementos del menú */
}

nav ul li {
    display: inline;
}

nav ul li a {
   background-color: #fff9f0;
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 18px;
   padding: 8px 15px;
   border-radius: 20px;
   transition: background-color 0.3s ease;          
}
nav ul li a:hover {
  background-color: #ff7e5f; /* Cambia el color de fondo cuando el mouse está encima */
  color: #ffffff; /* Cambia también el color del texto si lo deseas */
}
nav ul li a.active {
  background-color: #ff7e5f;; /* Color del elemento seleccionado */
  color: #ffffff; /* Color del texto del elemento seleccionado */
}




.search-bar {
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
    font-size: 16px;
}

.search-bar button {
    background-color: #ff7e5f;
    border: none;
    padding: 10px;
    margin-left:7px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button:hover {
    background-color: #feb47b;
}

.search-bar button svg {
    width: 18px;
    height: 18px;
    fill: white;
}

.user{
	position: relative;
    display: inline-block;
}

.user button{
	position: relative;
    outline: none;
    max-width: 100px;
    border: none;
    box-shadow: none;
    margin-left: 10px;
    border-radius: 50%;
    color: rgb(40, 0, 0);
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;  
    background-color: transparent;
}
.user button:hover{
  outline: none;
    color: #ff7e5f;
}

.user-menu {
	display: none; /* Ocultar el menú por defecto */
    position: absolute; /* Posición absoluta */
    padding: 5px;
    top: 100%;
    width: 110px;
    left: 40%; 
    transform: translateX(-40%);
    background-color:rgb(0, 0, 0); 
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}
.user-menu a{
	display: block;
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    font-size: 13px;
   
}
.user-menu a:hover{
	text-decoration: underline;
}




.cart button{
  background-color:#fff9f0;
    max-width: 100px;
    box-shadow: none;
    border: none;
    margin-left: 10px;
    
    color: rgb(0, 0, 0);
    cursor: pointer;
    
    align-items: center;
    justify-content: center;
}
.cart button:hover{
    color: #ff7e5f;
}

#carrusel {
  max-width: 930px;
  height: 470px;
  margin: auto;
  overflow: hidden;
}

#carrusel .carousel-item {
  width: 100% !important;
  height: auto;
}

#carrusel .carousel-item img {
  margin-top: -20px;
  width: 100% !important;
  height: auto;
  max-height: 500px;
  object-fit: cover !important;
  object-position: center !important;
}

@media (max-width: 766px) {
  #carrusel {
    width: 100% !important;
    height: auto;
    max-height: 800px;
    object-fit: cover !important;
  }
  
  #carrusel .carousel-item img {
    max-height: 400px;
  }
}
@media (max-width: 450px) {
  #carrusel {
    width: 100% !important;
    height: auto;
    max-height: 900px;
    object-fit: cover !important;
  }
  
  #carrusel .carousel-item img {
    max-height: 1200px;
  }
}

/*FOOTER*/  /*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

.footer {
  flex-shrink: 0;
  width: 100%;
  background: #000000;
  min-height: 100px;
  padding: 25px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto; /* Esto empuja el footer al fondo */
}
  
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

/*PRODUCTOS*/  /*PRODUCTOS*/ /*PRODUCTOS*/ /*PRODUCTOS*/ /*PRODUCTOS*/ /*PRODUCTOS*/ 

.product-card {
  flex: 1 1 calc(25% - 16px); /* 25% del ancho menos 16px de margen */
  margin: 8px;
  box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 16px;
    text-align: center;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-grid {
  width: 1000px; /* Ancho fijo */
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 1fr)); /* 4 columnas con un ancho mínimo de 20px */
  gap: 16px; /* Espacio entre las tarjetas */
  

  /* Centrando el div */
  margin: 0 auto; /* Esto lo centra horizontalmente */
}
  
.product-home{
  width: 1000px; /* Ancho fijo */
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 1fr)); /* 4 columnas con un ancho mínimo de 20px */
  gap: 16px; /* Espacio entre las tarjetas */
  margin: 50px;
}
.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}
  
.price {
    font-size: 1.2rem;
    color: #ff6f61;
    margin-top: 8px;
    display: block;
}
  
.product-card  button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
  
.product-card button:hover {
    background-color: #ff4f41;
}

.filtro {
  margin: 20px auto; /* Esto centrará el div horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52%; /* Ajusta el ancho como prefieras */
}

.dropdown {
  margin-left: auto; /* Empuja el dropdown hacia la derecha */
}
 
.btn{
  background-color: white;
  color: black;
  
}
  
/* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO */

.form-contacto{
  
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;

}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input:focus, textarea:focus {
  border-color: #ff7e5f;
}

.form-contacto button {
  margin-top: 15px;
  padding: 10px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.form-contacto button:hover {
  background-color:#ff6038;
}

textarea {
 
  resize: none; /* Desactiva el redimensionamiento */

}

main {
    
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  min-height: 10vh; 
}

.g-recaptcha{
display: flex;
padding-top: 20px;
text-align: center;
justify-content: center;
align-items: center;
}

@media (max-width: 768px) {
  .product-card {
    max-width: 100%;
    margin: 8px 0;
  }
}


/*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*//*PRODUCTO*/

 
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 100px;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
  }

  .quantity  button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
  
.quantity button:hover {
    background-color: #ff4f41;
}

  
  .img-card img {
    width: 670px;
    flex-shrink: 0;
    border-radius: 4px;
    height: 420px;
    object-fit:contain;
  }
  
  
  .small-Card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
  }
  
  .small-Card img {
    width: 104px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
    object-fit: contain ;
  }
  
  .small-Card img:active {
    border: 1px solid #000000;
  }
  
  .sm-card {
    border: 2px solid rgb(243, 150, 43);
  }
  
  .product-info{
    width: 60%;
  }
  .product-info h3 {
    font-size: 28px;
    
    font-weight: 600;
    line-height: 130%;
  }
  
  .product-info h5 {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    color: #ff7b2f;
    margin: 6px 0;
  }
  
  .product-info del {
    color: #a9a9a9;
  }
  
  .product-info p {
    color: #424551;
    margin: 15px 0;
    width: 70%;
  }
  
  .sizes p {
    font-size: 22px;
    color: black;
  }
  
  .size-option {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .quantity input {
    width: 51px;
    height: 33px;
    margin-bottom: 15px;
    padding: 6px;
  }
  
  
  
  .delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    color: #787a80;
    font-size: 12px;
    
    line-height: 150%;
    letter-spacing: 1px;
  }
  
  hr {
    color: #787a80;
    width: 58%;
    opacity: 0.67;
  }
  
  .pagination {
      color: #787a80;
      margin: 15px 0;
      cursor: pointer;
  }
  
  @media screen and (max-width: 576px) {
    .product-container{
      flex-direction: column;
    }
    .small-Card img{
      width: 80px;
    }
    .product-info{
      width: 100%;
    }
    
  
    .delivery{
      width: 100%;
    }
  
    hr{
      width: 100%;
    }
  }

.size-option{
  height: auto;
}

.mi-cuenta-container {
  
  margin: 0 auto;
  padding: 20px;
}

.mi-cuenta-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.informacion, .mis-compras {
  width: auto ;
  flex: 1;
  min-width: 500px;
  
}
.carrito-icono{
  display: flex;
  justify-content: center;
  align-items: center;
}
.primera-compra{
  display: flex;
  justify-content: center;
  align-items: center;

}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.h1-mi-cuenta{
  font-weight: bold;
  font-size: 32px;
}
.h2-mi-cuenta{
  font-size: 22px;
  font-weight: bold;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.person-icon { background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktcGVyc29uLWZpbGwiIHZpZXdib3g9IjAgMCAxNiAxNiI+CiAgICAgICAgICA8cGF0aCBkPSJNMyAxNHMtMSAwLTEtMSAxLTQgNi00IDYgMyA2IDQtMSAxLTEgMXptNS02YTMgMyAwIDEgMCAwLTYgMyAzIDAgMCAwIDAgNiI+PC9wYXRoPgogICAgICAgIDwvc3ZnPg=='); }
.phone-icon { background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktdGVsZXBob25lLWZpbGwiIHZpZXdib3g9IjAgMCAxNiAxNiI+CiAgICAgICAgICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjg4NS41MTFhMS43NDUgMS43NDUgMCAwIDEgMi42MS4xNjNMNi4yOSAyLjk4Yy4zMjkuNDIzLjQ0NS45NzQuMzE1IDEuNDk0bC0uNTQ3IDIuMTlhLjY4LjY4IDAgMCAwIC4xNzguNjQzbDIuNDU3IDIuNDU3YS42OC42OCAwIDAgMCAuNjQ0LjE3OGwyLjE4OS0uNTQ3YTEuNzUgMS43NSAwIDAgMSAxLjQ5NC4zMTVsMi4zMDYgMS43OTRjLjgyOS42NDUuOTA1IDEuODcuMTYzIDIuNjExbC0xLjAzNCAxLjAzNGMtLjc0Ljc0LTEuODQ2IDEuMDY1LTIuODc3LjcwMmExOC42IDE4LjYgMCAwIDEtNy4wMS00LjQyIDE4LjYgMTguNiAwIDAgMS00LjQyLTcuMDA5Yy0uMzYyLTEuMDMtLjAzNy0yLjEzNy43MDMtMi44Nzd6Ij48L3BhdGg+CiAgICAgICAgPC9zdmc+'); }
.email-icon { background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktZW52ZWxvcGUtYXQtZmlsbCIgdmlld2JveD0iMCAwIDE2IDE2Ij4KICAgICAgICAgIDxwYXRoIGQ9Ik0yIDJBMiAyIDAgMCAwIC4wNSAzLjU1NUw4IDguNDE0bDcuOTUtNC44NTlBMiAyIDAgMCAwIDE0IDJ6bS0yIDkuOFY0LjY5OGw1LjgwMyAzLjU0NnptNi43NjEtMi45Ny02LjU3IDQuMDI2QTIgMiAwIDAgMCAyIDE0aDYuMjU2QTQuNSA0LjUgMCAwIDEgOCAxMi41YTQuNDkgNC40OSAwIDAgMSAxLjYwNi0zLjQ0NmwtLjM2Ny0uMjI1TDggOS41ODZ6TTE2IDkuNjcxVjQuNjk3bC01LjgwMyAzLjU0Ni4zMzguMjA4QTQuNSA0LjUgMCAwIDEgMTIuNSA4YzEuNDE0IDAgMi42NzUuNjUyIDMuNSAxLjY3MSI+PC9wYXRoPgogICAgICAgICAgPHBhdGggZD0iTTE1LjgzNCAxMi4yNDRjMCAxLjE2OC0uNTc3IDIuMDI1LTEuNTg3IDIuMDI1LS41MDMgMC0xLjAwMi0uMjI4LTEuMTItLjY0OGgtLjA0M2MtLjExOC40MTYtLjU0My42NDMtMS4wMTUuNjQzLS43NyAwLTEuMjU5LS41NDItMS4yNTktMS40MzR2LS41MjljMC0uODQ0LjQ4MS0xLjQgMS4yNi0xLjQuNTg1IDAgLjg3LjMzMy45NTMuNjNoLjAzdi0uNTY4aC45MDV2Mi4xOWMwIC4yNzIuMTguNDIuNDExLjQyLjMxNSAwIC42MzktLjQxNS42MzktMS4zOXYtLjExOGMwLTEuMjc3LS45NS0yLjMyNi0yLjQ4NC0yLjMyNmgtLjA0Yy0xLjU4MiAwLTIuNjQgMS4wNjctMi42NCAyLjcyNHYuMTU3YzAgMS44NjcgMS4yMzcgMi42NTQgMi41NyAyLjY1NGguMDQ1Yy41MDcgMCAuOTM1LS4wNyAxLjE4LS4xOHYuNzMxYy0uMjE5LjEtLjY0My4xNzUtMS4yMzcuMTc1aC0uMDQ0QzEwLjQzOCAxNiA5IDE0LjgyIDkgMTIuNjQ2di0uMjE0QzkgMTAuMzYgMTAuNDIxIDkgMTIuNDg1IDloLjAzNWMyLjEyIDAgMy4zMTQgMS40MyAzLjMxNCAzLjAzNHptLTQuMDQuMjF2LjIyN2MwIC41ODYuMjI3LjguNTgxLjguMzEgMCAuNTY0LS4xNy41NjQtLjc0M3YtLjM2N2MwLS41MTYtLjI3NS0uNzA4LS41NzItLjcwOC0uMzQ2IDAtLjU3My4yNDUtLjU3My43OTEiPjwvcGF0aD4KICAgICAgICA8L3N2Zz4='); }
.cart-icon { background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2FydCIgdmlld2JveD0iMCAwIDE2IDE2Ij4KICAgICAgICAgIDxwYXRoIGQ9Ik0wIDEuNUEuNS41IDAgMCAxIC41IDFIMmEuNS41IDAgMCAxIC40ODUuMzc5TDIuODkgM0gxNC41YS41LjUgMCAwIDEgLjQ5MS41OTJsLTEuNSA4QS41LjUgMCAwIDEgMTMgMTJINGEuNS41IDAgMCAxLS40OTEtLjQwOEwyLjAxIDMuNjA3IDEuNjEgMkguNWEuNS41IDAgMCAxLS41LS41TTMuMTAyIDRsMS4zMTMgN2g4LjE3bDEuMzEzLTd6TTUgMTJhMiAyIDAgMSAwIDAgNCAyIDIgMCAwIDAgMC00bTcgMGEyIDIgMCAxIDAgMCA0IDIgMiAwIDAgMCAwLTRtLTcgMWExIDEgMCAxIDEgMCAyIDEgMSAwIDAgMSAwLTJtNyAwYTEgMSAwIDEgMSAwIDIgMSAxIDAgMCAxIDAtMiI+PC9wYXRoPgogICAgICAgIDwvc3ZnPg=='); }

.edit-link {
  display: inline-block;
  margin-top: 10px;
  color: #ff7e5f;
  text-decoration: none;
}

.boton-tienda {
  width: 100%;
  max-width: 800px;
  border: none;
  box-shadow: none;
  background-color: #ff7350 ;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.edit-input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-link{
  border: none;
  background-color: transparent;
  color: #ff4f41;
}
.edit-link:hover{
  color: #ff9c2b;
}

#guardar-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .mi-cuenta-flex {
      flex-direction: column;
  }

  .informacion, .mis-compras {
      width: 100%;
  }

  .mis-compras {
      margin-left: 0;
      margin-top: 20px;
  }

  .boton-tienda {
      width: 100%;
  }
}
@media (max-width: 480px) {
  .h1-mi-cuenta {
      font-size: 22px;
  }

  .h2-mi-cuenta {
      font-size: 18px;
  }
}




