body{
    height: 100%;
    margin: 0;
    
    flex-direction: column;
    background-color:#fff9f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main.content {
  flex: 1;
  padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    
}
header{
    
    padding: 20px 0;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


header img{
    padding-right: 40px;
    max-width: 100px; /* Ajusta este valor según el tamaño que desees */
    height: auto; /* Mantiene la proporción de la imagen */
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre los elementos del menú */
}

nav ul li {
    display: inline;
}

nav ul li a {
   background-color: #fff9f0;
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 18px;
   padding: 8px 15px;
   border-radius: 20px;
   transition: background-color 0.3s ease;          
}
nav ul li a:hover {
  background-color: #ff7e5f; /* Cambia el color de fondo cuando el mouse está encima */
  color: #ffffff; /* Cambia también el color del texto si lo deseas */
}
nav ul li a.active {
  background-color: #ff7e5f;; /* Color del elemento seleccionado */
  color: #ffffff; /* Color del texto del elemento seleccionado */
}



.search-bar {
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
    font-size: 16px;
}

.search-bar button {
    background-color: #ff7e5f;
    border: none;
    padding: 10px;
    margin-left:7px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button:hover {
    background-color: #feb47b;
}

.search-bar button svg {
    width: 18px;
    height: 18px;
    fill: white;
}

.user button{
    max-width: 100px;
    border: none;
    margin-left: 10px;
    border-radius: 50%;
    color: rgb(40, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.user button:hover{
    color: #ff7e5f;
}

.cart button{
    max-width: 100px;
    border: none;
    margin-left: 10px;
    border-radius: 50%;
    color: rgb(40, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart button:hover{
    color: #ff7e5f;
}

#carrusel {
  max-width: 930px;
  height: 470px;
  margin: auto;
  overflow: hidden;
}

#carrusel .carousel-item {
  height: 100% !important; /* Forzar altura */
}

#carrusel .carousel-item img {
  margin-top: -20px;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}


.footer {
   
    width: 100%;
    background: #000000;
    min-height: 100px;
    bottom: 0;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}
  
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

/*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  /*PODUCTOS*/  

.product-card {
  flex: 1 1 calc(25% - 16px); /* 25% del ancho menos 16px de margen */
  margin: 8px;
  box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 16px;
    text-align: center;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-grid {
  width: 1000px; /* Ancho fijo */
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 1fr)); /* 4 columnas con un ancho mínimo de 20px */
  gap: 16px; /* Espacio entre las tarjetas */
  

  /* Centrando el div */
  margin: 0 auto; /* Esto lo centra horizontalmente */
}
  
.product-home{
  width: 1000px; /* Ancho fijo */
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 1fr)); /* 4 columnas con un ancho mínimo de 20px */
  gap: 16px; /* Espacio entre las tarjetas */
  margin: 50px;
}
.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}
  
.price {
    font-size: 1.2rem;
    color: #ff6f61;
    margin-top: 8px;
    display: block;
}
  
.product-card  button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
  
.product-card button:hover {
    background-color: #ff4f41;
}

.filtro {
  margin: 20px auto; /* Esto centrará el div horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52%; /* Ajusta el ancho como prefieras */
}

.dropdown {
  margin-left: auto; /* Empuja el dropdown hacia la derecha */
}
 
.btn{
  background-color: white;
  color: black;
  
}
  
/* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO */

.form-contacto{
  
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;

}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input:focus, textarea:focus {
  border-color: #ff7e5f;
}

.form-contacto button {
  margin-top: 15px;
  padding: 10px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.form-contacto button:hover {
  background-color:#ff6038;
}

textarea {
 
  resize: none; /* Desactiva el redimensionamiento */

}

main {
    
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  min-height: 10vh; 
}

.g-recaptcha{
display: flex;
padding-top: 20px;
text-align: center;
justify-content: center;
align-items: center;
}

@media (max-width: 768px) {
  .product-card {
    max-width: 100%;
    margin: 8px 0;
  }
}









